.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation styles */
#navbar {
  background-color: rgb(50, 83, 230);
  height: 100vh;
  width: 300px;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 3em;
  margin: 0;
}

.inactive {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-left: 20px;
  width: 100%;
  text-align: left;
}

.inactive:hover {
  background-color: aliceblue;
  text-decoration: none;
}

.active {
  color: rgb(198, 185, 253);
}

.navitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

/* This flexes the navbar and the content on the page side by side */
.navAndContent {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.content {
  width: 70%;
}

/* Registration and Login styles */
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#companyButton,
#labourerButton {
  width: 49%;
  margin-bottom: 10px;
}

/* All pages content centered */
.page-content {
  margin: 4rem auto;
}

.lab-profile {
  display: flex;
}
.lab-profile-list {
  list-style-type: none;
}

.logout-conformation-message {
  margin: auto auto;
}

/* weekdays component */
.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 40px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: rgb(50, 83, 230);
  color: #ffffff;
}

/* Tables and buttons */
/* Table styles */

/* Checkbox font awesome invisible button styles */
.isActiveCheckboxButton-true {
  border: none;
  background-color: transparent;
}